/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Common */
.background {
    width: 100%;
    height: 100vh;
    padding: 1.875rem 0rem;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to top, #dbdbd2 87%, #009688 87%);
}
.d_flex {
    display: flex;
}
.container {
    width: 80%;
    height: 100%;
    background-color: #fff;
    margin: auto;
}
.sectionLeft {
    width: 30%;
    background-color: #fff;
    border-right: .0625rem solid #d6d6d6;
}
.sectionLeftNone {
    display: none;
}
.sectionRight {
    width: 70%;
    background-color: #000;
}
.sectionRigthFull {
    width: 100%;
}
img {
    border-radius: 50%;
}
.icons_Top_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    margin-right: 1.25rem;
    cursor: pointer;
}
.icons_Top {
    color: #b1b1b1;
    font-size: 1.2rem;
}
.img_Top {
    width: 3.125rem;
    vertical-align: middle;
    margin-right: .625rem;
}

/* Section left */
.section_L_User {
    background-color: #eaeaea;
    justify-content: space-between;
    align-items: center;
    padding: .625rem;
}
.icons_L_Top_Container {
    position: relative;
}
.ligthModeContainer {
    z-index: 2;
    display: none;
    position: absolute;
    background-color: #eaeaea;
    padding: 1rem;
    right: 1.25rem;
    bottom: -3.4375rem;
    box-shadow: 0 0 .25rem gray;
    cursor: pointer;
}
.section_L_Not {
    padding: .625rem;
    background-color: #8edafc;
    align-items: center;
}
.containerNot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    margin-right: .625rem;
    color: #8edafc;
    background-color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: transform 0.5s;
}
.linkNot {
    font: 0.6rem;
    color: #b1b1b1;
}
.section_L_Search {
    background-color: #fafafa;
    padding: .625rem;
}
.section_L_Search div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    background-color: #fff;
    border: .0625rem solid #f5f5f5;
    border-right: none;
    color: #b1b1b1;
    cursor: pointer;
}
.section_L_Search input {
    width: 90%;
    border: none;
    border-radius: 0%;
    border: .0625rem solid #f5f5f5;
    padding: .625rem;
}
.section_L_Search input::placeholder {
    color: #b1b1b1;
}
.section_L_Chat {
    height: calc(100% - 12.3125rem);
    overflow-y: auto;
}
.section_L_Chat ul {
    list-style: none;
}
.section_L_Chat img {
    width: 3.75rem;
    margin-right: .625rem;
    vertical-align: middle;
}
.section_L_Chat li {
    border-bottom: .0625rem solid #f5f5f5;
    padding: .625rem;
}
.section_L_Chat li.active {
    background-color: #e9ebeb;
}

/* Section right */
.section_R_Contact {
    justify-content: space-between;
    align-items: center;
    padding: .625rem;
    background-color: #eaeaea;
}
.section_R_Contact img {
    width: 3.125rem;
}
.contactNameAccess {
    align-self: center;
}
.contactNameAccess p:last-child {
    color: #b1b1b1;
    font-size: 0.8rem;
}
.icons_R_Top_Container {
    position: relative;
}
.section_R_Chat {
    height: calc(100% - 7.8125rem);
    padding: 3.125rem 3.15rem;
    overflow-y: auto;
    background-image: url(../img/mine.jpg);
}
.section_R_Chat .sent,
.section_R_Chat .received {
    min-width: 8.1875rem;
    max-width: 25rem;
    position: relative;
    border-radius: .625rem;
    margin-bottom: .625rem;
}
.section_R_Chat .sent{
    margin-left: auto;
    background-color: #d5f9ba;
}
.section_R_Chat .received{
    margin-right: auto;
    background-color: #fff;
}
.section_R_Chat .date {
    position: absolute;
    font-size: 0.6rem;
    color: #d7d9da;
    right: .3125rem;
    bottom: .3125rem;
}
.message {
    padding: 1.25rem;
    cursor: pointer;
}
.deleteMessage {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    padding: .625rem;
    right: 0;
    border-radius: .625rem;
    bottom: -2.4375rem;
    box-shadow: 0 0 .250rem gray;
}
.none {
    display: none;
}
.view {
    display: block;
}
.section_R_Message {
    background-color: #f3eeea;
    justify-content: space-evenly;
    align-items: center;
    padding: .3125rem;
}
.section_R_Message input {
    width: 90%;
    padding: .9375rem;
    border: none;
    border-radius: .3125rem;
}
.section_R_Message i {
    color: #6b7376;
    font-size: 1.2rem;
    transition: transform 0.5s;
}

/* Dark mode */
.darkSectionLeft {
    border-right: .0625rem solid #3F4448;
    background-color: #131C21;
}
.darkBackgroundBody {
    background: transparent;
    background-color: #090E12;
}
.darkSection_R_Chat {
    background-image: url(../img/mineDark2.0.png);
}
.darkSection_R_Chat .sent{
    background-color: #046162;
    color: #fff;
}
.darkSection_R_Chat .received{
    background-color: #262D31;
    color: #fff;
}
.darkSection_R_Chat .date {
    color: #d7d9da;
}
.darkSection_R_Chat .deleteMessage {
    background-color: #262D31;
}
.sectionBackgound,
.darkModeContainer {
    background-color: #2A2F32;
    color: #E1E2E3;
}
.darkIcons_Top_Container {}
.darkBackgroundNot {
    background-color: #095373;
    color: #E1E2E3;
}
.darkContainerNot {
    background-color: #73777B;
    color: #095373;
}
.darkSection_L_Search {
    background-color: #131C21;
}
.darkSection_L_Search div,
.darkSection_L_Search input {
    background-color: #2A2F32;
    border-color: #131C21;
}
.darkSection_L_Chat li {
    color: #fff;
    border-color: #3F4448;
}
.darkSection_L_Chat li.active {
    background-color: #323739;
}
.darkInputMessage {
    background-color: #33383B;
    color: #fff;
}

/* Hover effects */
.icons_Top_Container:hover {
    background-color: #c2c2c2;
    box-shadow: 0 0 .25rem #c2c2c2;
    color: #ddd;
}
.darkIcons_Top_Container:hover {
    background-color: #000;
    box-shadow: 0 0 .25rem #000;
}
.ligthModeContainer:hover {
    background-color: #dadada;
}
.darkModeContainer:hover {
    background-color: #000;
}
.containerNot:hover {
    transform: scale(1.15);
}
.section_L_Search div:hover {
    color: #fff;
    background-color: #dbdbd2;
}
.darkSection_L_Search div:hover {
    color: #b1b1b1;
    background-color: #111;
}
.section_L_Chat li:hover {
    background-color: #f9f9f9;
}
.section_L_Chat li.active:hover {
    background-color: #e9ebeb;
}
.darkSection_L_Chat li:hover {
    background-color: #2D3134;
}
.darkSection_L_Chat li.active:hover {
    background-color: #323739;
}
.section_R_Message i:hover {
    transform: scale(1.3);
}
.deleteMessage:hover {
    background-color: #e9ebeb;
}
.darkSection_R_Chat .deleteMessage:hover {
    background-color: #111;
}

/* Media queries */
@media screen and (max-width: 768px) {
    .sectionLeft {
        width: 20%;
    }
    .sectionRight {
        width: 80%;
    }
    .sectionRigthFull {
        width: 100%;
    }
    .background {
        padding: 0rem 0rem;
    }
    .section_L_Chat {
        height: calc(100% - 14.8125rem);
    }
    .container {
        width: 100%;
    }
    .d_None_MediaQuery {
        display: none;
    }
    .d_Block_MediaQuery {
        display: block;
    }
    .section_R_Chat {
        padding: 3.125rem 1rem;
    }
    .section_R_Chat .sent,
    .section_R_Chat .received {
        max-width: 20rem;
    }
    .icons_Top_Container {
        margin-right: 0.5rem;
    }
    .section_L_Search div {
        display: none;
    }
    .section_L_Not a {
        margin: auto;
    }
    .section_L_Search input {
        width: 100%;
    }
    .section_L_Chat li {
        text-align: center;
    }
    .section_R_Message input {
        width: 80%;
    }
    .ligthModeContainer {
        bottom: -5rem;
    }
}
@media screen and (max-width: 525px) {
    .d_None_MediaQuery525 {
        display: none;
    }
    .sectionLeft {
        width: 3.75rem;
    }
    .sectionRight {
        width: calc(100% - 3.75rem);
    }
    .sectionRigthFull {
        width: 100%;
    }
    .icons_L_Top_Container {
        display: none;
    }
    .icons_R_Top_Container {
        display: block;
    }
    .section_R_Chat {
        height: calc(100% - 10.3125rem);
    }
    .section_L_Chat img,
    .img_Top {
        width: 2.75rem;
    }
    .containerNot {
        width: 2.75rem;
        height: 2.4375rem;
    }
    .section_L_Chat li {
        padding: .625rem 0;
    }
}